.logo{
    height: 60px;
}
.header{
    display: flex;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 100%;
    margin-top: 20px;
border-bottom: solid 3px rgba(0, 0, 0, 0.559);
}

.btn-container{
    width: 220px;
    display: flex;
    justify-content: space-between;
}
.upside{
    width: 100%;
    display: flex;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
.downside{
    width: 100%;
    margin-top: 20px;
    
}
.downside-holder{
    width: 35%;
    
    display: flex;
    justify-content: space-between;

}







